/*
 *= require_self
 *= require simple-line-icons
*/

@mixin css3($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}


body{
  font-family:'Helvetica Neue','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  font-weight: lighter;
  background-color: #000;
  padding: 0;
  margin: 0;
  color: #fff;
}


#bg{
  opacity: 0;
  -webkit-filter: blur(20px);
    width: 100%;
  height: 100%;
  
  &.active{
    opacity: 1;
    -webkit-filter: blur(0);
    @include css3(transition, all 1s ease);
  }
  background-image: url(<%= asset_path :images, 'anri_team_bg.jpg' %>); 
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  background-position: 50% -40px;
  width: 100%;
  height: 100%;
  position: fixed;
@media (max-width : 480px){
    opacity: 1!important;
    -webkit-filter: blur(0);
  }

  .gradient{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background : -moz-linear-gradient(50% 100% 90deg,rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0) 100%);
  background : -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(0, 0, 0, 1) ),color-stop(1,rgba(0, 0, 0, 0) ));
  background : -o-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  background : -ms-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000' ,GradientType=0)";
  background : linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#000000' , GradientType=0);
  @media (max-width : 480px){
    display: none;
  }
  }

  @media (max-width : 480px) {
    width: 100%;
    height: 200px;
    position: relative;
    background-size: 110%;
    background-position: 50% 50%;
    margin-bottom: 10px;
  }
}

header{
  .logo-box{
    float: left;
    margin: 20px 0 0 20px;
    position: relative;
    z-index: 3;
    line-height: 1;
    @media (max-width : 480px){
      width: 80px;
      margin: 10px 0 0 10px;
      float: none;
      img{
        width: 100%;
      }
    }
  }
}

.contact-box{
  float: right;
  z-index: 3;
  position: relative;
  margin: 20px 20px 0 0;
  /* Smartphones (portrait and landscape) ----------- */
  @media (max-width : 480px) {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  a{
    width: 50px;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    &:nth-child(1){
      margin-right: 10px;
    }
    @media (max-width : 480px) {
      font-size: 20px;
      width: 40px;
    }
    &:hover{
      color: rgba(255,255,255,.5);
    }
  }
}

.main-copy-box{
@include css3(transition, all 1s cubic-bezier(0.23,1,0.32,1));
  position: absolute;
  width: 100%;
  bottom: 50%;
  z-index: 2;
  padding: 0 4%;
  opacity: 0;
  -webkit-filter: blur(20px);

  &.active1{
    opacity: 1;
    -webkit-filter: blur(0);
  }
  &.active2{
    bottom: 20px;    
    @media (max-width : 480px){
    bottom: auto;
    }
  }
  @include css3(box-sizing, border-box);
  background-repeat: no-repeat;
  @media (max-width : 480px) {
    position: relative;
    padding: 0 2%;
    bottom: auto;
    margin-bottom: 10px;
    -webkit-filter: blur(0);  
  }
  .copy-1line{
    @media (max-width : 480px) {
    display: none;
    }
  }
  .copy-2line{
    display: none;
    @media (max-width : 480px) {
      display: block;
    }
  }

  img{
    width: 100%;
  }
}

footer{
  small{
    display: none;
    @media (max-width : 480px){
    
    display: block;
    text-align: center;
    color: #ddd;
    letter-spacing: .05em;
    }
  }
}

#main-wrap{
  @media (max-height : 521px){
    min-height: 520px;
    width: 100%;
    display: block;
    position: relative;
  }
}