<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta name="description" content="未来をつくろう。圧倒的な未来を。" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
    <meta property="og:title" content="ANRI" />
    <meta property="og:url" content="http://anri.vc/" />
    <meta property="og:image" content="<%= asset_path :images, 'anri_team_bg.jpg' %>" />
    <link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="imaegs/favicon-16x16.png" sizes="16x16" />
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "ANRI" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
  <%= javascript_include_tag  "all" %>
</html>