---
title: ANRI
---

<div id="main-wrap">
<header>
	<h1 class="logo-box">
	
	

		<img src="<%= asset_path :images, 'anri_logo.png' %>" alt="" class="logo">
	</h1>
</header>
<div id="bg">
	<div class="gradient"></div>
</div>
<div class="main-copy-box">
	<img src="<%= asset_path :images, 'main_copy.png' %>" alt="" class="copy-1line">
	<img src="<%= asset_path :images, 'main_copy_2line.png' %>" alt="" class="copy-2line">
</div>
	<div class="contact-box">
		<a href="mailto:info@anri.vc" class="contact-mail">
			<i class="icon-envelope"></i>
		</a>
		<a href="https://twitter.com/Anrit" class="contact-tw" target="_blank">
			<i class="icon-social-twitter"></i>
		</a>
		<a href="https://www.facebook.com/anri.samata" class="contact-fb" target="_blank">
			<i class="icon-social-facebook"></i>
		</a>
		
	</div>



<footer>
<small>©2014 anri.vc.</small>	
</footer>
</div>
